<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Counter</title>
  <link rel="stylesheet" href="/livetemplate.css">
  <script defer src="/livetemplate-client.js"></script>
</head>
<body>
  <div>
    <h2>Count: {{.Count}}</h2>
    <button name="increment">+</button>
    <button name="decrement">-</button>
    <button name="reset">Reset</button>
  </div>
</body>
</html>
